<%= form_with scope: :user_group, url: user_groups_path, local: true do |form| %>
  <table>
  <tr>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </tr>
    <%= form.text_area :group_id ,:value => @group.id , style: "#{'display:none'}" %>
  <tr>
    <%= form.submit %>
  </tr>
  </table>
  </p>
<% end %>

