
<h1>Hello, Rails!</h1>
<%= link_to 'Main Group', controller: 'group' %>
</br>
<%= link_to 'New Group', new_group_path %>
</br>
<h1>Listing groups</h1>
 
<table>
  <tr>
    <th>GroupId</th>
    <th>GroupName</th>
    <th>Owner email</th>
  </tr>
 
  <% @groups.each do |group| %>
    <% if group.user == current_user %>
    <tr>
      <td><%= group.id %></td>
      <td><%= group.groupname %></td>
      <td><%= group.user.email%></td>
      <%# if user_signed_in? %>
      <td><%= link_to 'Add Expense', group_path(group) %></td>
      <td><%= link_to 'Edit Budget Name', edit_group_path(group) %></td>
      <td><%= link_to 'Delete Budget', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
       <% end %>
    </tr>
  <% end %>
</table>
