<h1>Group#show</h1>
<p>Find me in app/views/group/show.html.erb</p>

<table style="border: 1px solid black;">
  <tr>
     <th>GroupName:</th>
  </tr>
  <tr>
     <td><%= @group.groupname %><strong>(<%= @group.id %>)</strong></td>
  </tr>
</table>
<h2>Invite User: </h2> 
<%= render 'user_groups/form' %>

<h2>Expenses</h2>
<% if @group.expenses.count == 0 %>
   <p>No Expenses...</p>
<% else %>
<table style="border: 1px solid black;">
   <tr>
        <th>ExpenseID</th>
        <th>GroupID</th>
        <th>UserID</th>
        <th>Expense</th>
   </tr>
   <%= render @group.expenses %>
</table>
<%end %>
<h2>Add a expense:</h2>
<%= render 'expenses/form' %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', group_index_path %>
