<tr>
    <td> <%= expense.id %></td>
    <td>  <%= expense.group.id %></td>
    <td>  <%= expense.userid %></td>
    <td>  <%= expense.expense %></td>
    <td>  <%= link_to 'Destroy', [expense.group, expense],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>

</tr>
