<tr>
    <td> <%= expense.id %></td>
    <td>  <%= expense.group.id %></td>
    <td>  <%= expense.user_id %></td>
    <td>  <%= expense.expense %></td>
    <td>  <%= link_to 'Delete', [expense.group, expense],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</td>

</tr>
